.navbar {
  position: relative;
  width: 100vw;
  height: 80px;
  background-color: rgb(211, 211, 211);
}

.navbar div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
}

.navbar div h4 {
  position: relative;
  display: inline-block;
  margin: 5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  transition: font-size 0.25s ease-in-out;
  cursor: pointer;
}

.navbar div h4::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0%;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar div h4:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
